@charset "utf-8";

body{background-color:#FFF; min-width:980px; _width:expression(this.scrollWidth > 980 ? "auto" : "980px");}
.topnav_w{background-color:#222; height:40px;}
.topnav{height:30px; line-height:30px; color:#B5B5B5; width:980px; margin:0 auto;}
.topnav a{color:#B5B5B5;}
.topnav .login{float:right;margin-top: 5px;}
.topnav .login .qq{display:inline-block; background:url("icon_topnav.png")/*tpa=http://www.bangcle.com/static/images/icon_topnav.png*/ 6px -33px no-repeat; _background:none; padding-left:26px; padding-right:6px; text-decoration:none;}
.topnav .login .sweibo{display:inline-block; background:url("icon_topnav.png")/*tpa=http://www.bangcle.com/static/images/icon_topnav.png*/ 6px 8px no-repeat; padding-left:28px; padding-right:6px; text-decoration:none; margin-left:2px;}
.topnav .login .qq:hover,.topnav .login .sweibo:hover{background-color:#585858;}
.topnav .login .bt_l{display:inline-block; background-color:#666; color:#FFF; padding:0 24px; text-decoration:none; margin-left:2px;}
.topnav .login .bt_r{display:inline-block; background-color:#1D8BD8; color:#FFF; padding:0 24px; text-decoration:none; margin-left:1px;}
.topnav .login .bt_l:hover,.topnav .login .bt_r:hover{opacity:0.8;}
.topnav strong{float:left; margin-right:8px;}
.topnav .account{float:left; background:url("topnav_line_bg.png")/*tpa=http://www.bangcle.com/static/images/topnav_line_bg.png*/ no-repeat; position:relative; z-index:10; _width:52px;}
.topnav .account span{display:block; height:28px; line-height:28px; background:url("topnav_icon_bg.png")/*tpa=http://www.bangcle.com/static/images/topnav_icon_bg.png*/ 35px -22px no-repeat; border:#222 solid 1px; padding:0 18px 0 8px; cursor:default; position:relative; z-index:9;}
.topnav .account ul{background-color:#FFF; width:85px; border:#D5D5D5 solid 1px; box-shadow:0 2px 4px 0 rgba(0,0,0,0.2); position:absolute; right:0; top:29px; display:none;}
.topnav .account li a{display:block; height:28px; line-height:28px; color:#369; text-decoration:none; padding-left:10px;}
.topnav .account li a:hover{background-color:#EEE;}
.topnav .account_mouseover span{background:#FFF url("topnav_icon_bg.png")/*tpa=http://www.bangcle.com/static/images/topnav_icon_bg.png*/ 35px 13px no-repeat; border:#D5D5D5 solid 1px; border-bottom-color:#FFF; color:#666;}
.topnav .account_mouseover ul{display:block;}
.topnav .follow a{display:inline-block; background:url("icon_topnav.png")/*tpa=http://www.bangcle.com/static/images/icon_topnav.png*/ no-repeat; _background:none; padding-right:6px; text-decoration:none; margin-left:2px;}
.topnav .follow a:hover{background-color:#585858;}
.topnav .follow .sweibo{background-position:6px 8px; padding-left:28px;}
.topnav .follow .tweibo{background-position:4px -71px; padding-left:24px;}
.header{height:32px; padding:20px 0; width:1070px; margin:0 auto;}
.header .menu{float:right;}
.header .menu li{display:inline; float:left; margin-left:20px; height:32px; line-height:32px; position:relative; z-index:9;}
.header .menu li a{color:#333; font-size:16px; text-decoration:none;}
.header .menu li ul{background-color:#FFF; width:80px; padding-top:4px; position:absolute; left:50%; top:32px; margin-left:-40px; display:none;}
.header .menu li li{float:none; margin:0; height:auto;}
.header .menu li li a{display:block; background-color:#1D8BD8; height:30px; line-height:30px; color:#FFF; font-size:14px; text-decoration:none; padding-left:10px;}
.header .menu li li a:hover{opacity:0.8;}
.header .menu .drop_downs_mouseover ul{display:block;}
.header .logo{float:left;}
.header .logo a{
/*display:block; background:url(../images/logo.png) no-repeat; height:32px; width:202px; text-indent:-999em;*/
TEXT-INDENT: -999em; WIDTH: 305px; DISPLAY: block; BACKGROUND: url("logo.png")/*tpa=http://www.bangcle.com/static/images/logo.png*/ no-repeat center; HEIGHT: 38px
}
.header .eoe_logo{float:left;}
.header .eoe_logo a{display:block; background:url("eoe_logo.png")/*tpa=http://www.bangcle.com/static/images/eoe_logo.png*/ no-repeat; height:40px; width:260px; text-indent:-999em;}
.header .umeng_logo{float:left;}
.header .umeng_logo a{display:block; background:url("umeng_logo.png")/*tpa=http://www.bangcle.com/static/images/umeng_logo.png*/ no-repeat; height:40px; width:250px; text-indent:-999em;}
.header .youmi_logo{float:left;}
.header .youmi_logo a{display:block; background:url("youmi_logo.png")/*tpa=http://www.bangcle.com/static/images/youmi_logo.png*/ no-repeat; height:40px; width:240px; text-indent:-999em;}
.header .mogo_logo{float:left;}
.header .mogo_logo a{display:block; background:url("mogo_logo.png")/*tpa=http://www.bangcle.com/static/images/mogo_logo.png*/ no-repeat; height:40px; width:280px; text-indent:-999em;}

.nav_wrapper{height:40px; background:url("nav_bg.png")/*tpa=http://www.bangcle.com/static/images/nav_bg.png*/ repeat-x; margin-bottom:8px;}
.nav{width:980px; height:40px; line-height:40px; margin:0 auto;}
.nav li{float:left; background:url("nav_li_bg.png")/*tpa=http://www.bangcle.com/static/images/nav_li_bg.png*/ left top no-repeat; height:40px; padding-left:2px;}
.nav li a{float:left; color:#FFF; text-shadow:0 1px 0 #555555; font-size:14px; font-weight:bold; width:120px; text-align:center; height:40px; line-height:36px; margin-right:1px; text-decoration:none;}
.nav li a:hover{background:url("nav_li_bg_hover.png")/*tpa=http://www.bangcle.com/static/images/nav_li_bg_hover.png*/ repeat-x;}
.nav li a.cur{background:url("nav_li_bg_cur.png")/*tpa=http://www.bangcle.com/static/images/nav_li_bg_cur.png*/ repeat-x;}
.nav li em{float:left; color:#FFF; text-shadow:0 1px 0 #555555; font-size:14px; font-weight:bold; width:120px; text-align:center; height:40px; line-height:36px; margin-right:1px; cursor:pointer;}
.nav .drop_down{position:relative;}
.nav .drop_down ul{background-color:#5b95d5; border-bottom:#5083bb solid 1px;  border-right:#5083bb solid 1px; border-left:#75a8dd solid 1px; box-shadow:3px 3px 3px #AAA; position:absolute; left:-1px; top:35px; width:121px; text-align:center; z-index:999;}
.nav .drop_down li{float:none; background:none; padding:0; height:30px;}
.nav .drop_down li a{display:block; float:none; margin:0; height:30px; line-height:30px; text-decoration:none; font-size:14px; width:121px;}
.nav .drop_down li a:hover{background:#76a9df;}

.page_url{width:980px; padding:0 10px; background-color:#FBFBFB; border:#D5D5D5 solid 1px; border-radius:3px; margin:0 auto 10px; color:#666; height:32px; line-height:32px;}
.page_url span{color:#999; font-family:"宋体"; padding:0 4px;}
.banner_wrapper{background-color:#5B95D5; border-bottom:1px solid #436DB0; border-top:1px solid #436DB0;}
.banner{height:70px; line-height:70px; width:980px; margin:0 auto; overflow:hidden; position:relative;}
.banner h2{font-size:36px; text-shadow:0 1px 0 #555; color:#FFF; width:480px;}
.banner strong{position:absolute; right:0; bottom:10px;}
strong .button{display:block; float:left; height:48px; width:164px; text-indent:-999em; text-decoration:none; overflow:hidden;}
strong .exp{background:url("button_exp1.png")/*tpa=http://www.bangcle.com/static/images/button_exp1.png*/ no-repeat;}
strong .exp:hover{background:url("button_exp2.png")/*tpa=http://www.bangcle.com/static/images/button_exp2.png*/ no-repeat;}
strong .exp:active{background:url("button_exp3.png")/*tpa=http://www.bangcle.com/static/images/button_exp3.png*/ no-repeat;}

.partner{background-color:#FFF; border:#D5D5D5 solid 1px; border-radius:3px; margin-bottom:10px;}
.partner h3{height:35px; line-height:35px; padding:0 10px; border-bottom:#D5D5D5 solid 1px; font-size:16px;}
.partner .partner_show{height:50px; background:url("line_bg.png")/*tpa=http://www.bangcle.com/static/images/line_bg.png*/ center center no-repeat; padding:10px 65px; position:relative;}
.partner .partner_show button{display:block; width:18px; height:36px; text-indent:-999em; border:none; position:absolute; top:17px;}
.partner .partner_show .prev{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ 0 0 no-repeat; left:12px;}
.partner .partner_show .next{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ -19px 0 no-repeat; right:12px;}
.partner .partner_show .prev:hover{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ -40px 0 no-repeat;}
.partner .partner_show .next:hover{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ -59px 0 no-repeat;}
.partner .partner_show li{float:left; width:132px; padding:0 5px;}
.partner .partner_show li img{display:block; background-color:#FFF; border:#D5D5D5 solid 1px;}
.content{width:980px; margin:0 auto;/* min-height:750px; _height:expression(this.scrollHeight > 750 ? "auto" : "750px");*/}
.aside{width:210px; float:left; margin-bottom:10px;}
.aside .round{background-color:#FBFBFB; border:#D5D5D5 solid 1px; overflow:hidden; margin-bottom:10px; zoom:1;}
.aside .round h4{font-size:14px; font-weight:bold; background:url("h4_bg.png")/*tpa=http://www.bangcle.com/static/images/h4_bg.png*/ repeat-x; height:34px; line-height:34px; padding:0 10px; position:relative;}
.aside .round h4 strong{display:block; height:35px; line-height:35px; font-weight:bold;}
.aside .menu{padding-bottom:100px;}
.aside .menu li{position:relative; height:32px; line-height:32px; margin-bottom:1px;}
.aside .menu li a{display:block; height:32px; padding-left:10px; font-size:14px; text-decoration:none;}
.aside .menu li a.cur{background:#F7F8FA url("menu_li_cur.png")/*tpa=http://www.bangcle.com/static/images/menu_li_cur.png*/ repeat-y;}
.aside .menu li a:hover{background-color:#F7F8FA;}
.aside .mobile_list{margin-bottom:0;}
.aside .mobile_list h4{padding-right:4px;}
.aside .mobile_list h4 select{float:right; padding:0; font-weight:normal; margin-top:5px;}
.aside .mobile_list_m{height:565px; overflow-y:scroll; *position:relative;}
.aside .mobile_list_m h5{background:#E5E9ED url("icon_fold.png")/*tpa=http://www.bangcle.com/static/images/icon_fold.png*/ 170px -79px no-repeat; border-bottom:1px solid #D5D5D5; border-top:1px solid #D5D5D5; height:32px; line-height:32px; font-size:14px; padding-left:10px; cursor:pointer; margin-top:-1px;}
.aside .mobile_list_m h5.hidden{background:#E5E9ED url("icon_fold.png")/*tpa=http://www.bangcle.com/static/images/icon_fold.png*/ 170px 13px no-repeat;}
.aside .mobile_list_m h5 em{font-family:Arial, Helvetica, sans-serif;}
.aside .mobile_list_m li{position:relative; height:32px; line-height:32px; margin-bottom:1px;}
.aside .mobile_list_m li a{display:block; width:auto; height:32px; padding-left:30px; padding-right:10px; font-size:14px; text-decoration:none;}
.aside .mobile_list_m li a.cur{background-color:#E5E9ED;}
.aside .mobile_list_m li a:hover{background-color:#E5E9ED;}
.aside .mobile_list_m .icon_y a{background:url("icon_y.png")/*tpa=http://www.bangcle.com/static/images/icon_y.png*/ 10px center no-repeat;}
.aside .mobile_list_m .icon_x a{background:url("icon_x.png")/*tpa=http://www.bangcle.com/static/images/icon_x.png*/ 10px center no-repeat;}
.aside .mobile_list_m .icon_i a{background:url("icon_i.png")/*tpa=http://www.bangcle.com/static/images/icon_i.png*/ 10px center no-repeat;}
.aside .mobile_list_m .icon_n a{background:url("icon_n.png")/*tpa=http://www.bangcle.com/static/images/icon_n.png*/ 10px center no-repeat;}
.aside .mobile_list_m .loading{background:url("loading.gif")/*tpa=http://www.bangcle.com/static/images/loading.gif*/ 10px center no-repeat; height:32px; line-height:32px; padding-left:30px; font-size:14px; color:#336699;}
.article{margin:0 0 10px 220px; overflow:hidden; width:760px;}
.message{border-radius:3px 3px 3px 3px; overflow:hidden; line-height:20px; padding:6px 15px 6px 32px; margin-bottom:10px;}
.message a{text-decoration:underline; margin:0 2px;}
.message.error{background:#FFECCE url("message_error.gif")/*tpa=http://www.bangcle.com/static/images/message_error.gif*/ 8px 9px no-repeat; border:1px solid #E9C59B;}
.message.success{background:#EDFBD8 url("message_success.gif")/*tpa=http://www.bangcle.com/static/images/message_success.gif*/ 8px 9px no-repeat; border:1px solid #BFDE84;}
.message.info{background:#ECF9FF url("message_info.gif")/*tpa=http://www.bangcle.com/static/images/message_info.gif*/ 8px 9px no-repeat; border:1px solid #BBDBE0;}
.message.warning{background:#FEFDE2 url("message_warning.gif")/*tpa=http://www.bangcle.com/static/images/message_warning.gif*/ 8px 9px no-repeat; border:1px solid #E5E181;}
.cut{display:inline-block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle; zoom:1;}
.round_wrapper{background-color:#FBFBFB; border:#D5D5D5 solid 1px; margin-bottom:10px;}
.round_title{font-size:14px; font-weight:bold; background:url("h4_bg.png")/*tpa=http://www.bangcle.com/static/images/h4_bg.png*/ repeat-x; height:34px; line-height:34px; padding:0 10px; overflow:hidden;}
.index .round_wrapper{background-color:#FFF; border:#D5D5D5 solid 1px; border-radius:3px;}
.index .round_title{height:35px; line-height:35px; padding:0 10px; border-bottom:#D5D5D5 solid 1px; font-size:16px; background:none; font-weight:normal;}
.round_main{height:190px; overflow:hidden;}
.f_r{float:right;}
.algin_r{text-align:right;}
.algin_c{text-align:center;}
.news{float:right; width:350px;}
.news ul{padding:6px 6px 0;}
.news li{background:url("dots.png")/*tpa=http://www.bangcle.com/static/images/dots.png*/ 4px center no-repeat; padding:0 4px 0 14px; height:28px; line-height:28px; border-bottom:#D5D5D5 dashed 1px;}
.news li span{float:right; color:#999;}

.order_tips li{height:24px; line-height:24px;}
.page_title{height:34px; line-height:34px; border-bottom:#CCC solid 1px; font-size:14px; font-weight:bold; margin-bottom:10px;}
.page_title strong{font-weight:bold;}
.page_title strong span{font-weight:normal;}
.page_title .fr{float:right;}
.page_title .fr .bt{display:block; float:left; background:url("button_bg4-1.png")/*tpa=http://www.bangcle.com/static/images/button_bg4.png*/ repeat-x; height:24px; line-height:24px; border:#D5D5D5 solid 1px; border-radius:3px 3px 3px 3px; padding:0 10px; color:#333; margin-top:4px; text-decoration:none;}
.page_title .fr .bt:hover{opacity:0.8;}
.page_title .fr .icon{padding-left:20px; font-weight:normal; margin-left:8px;}
.page_title .fr .report{background:url("icon_report.png")/*tpa=http://www.bangcle.com/static/images/icon_report.png*/ left center no-repeat;}
.page_title .fr .download{background:url("icon_download.png")/*tpa=http://www.bangcle.com/static/images/icon_download.png*/ left center no-repeat;}
.page_title .fr .stop{background:url("icon_stop.png")/*tpa=http://www.bangcle.com/static/images/icon_stop.png*/ left center no-repeat;}
.section{border:#D5D5D5 solid 1px; margin-bottom:10px; zoom:1;}
.section .title{background-color:#F6F6F6; height:34px; line-height:34px; border-top:#FFFFFF solid 1px; border-bottom:#D5D5D5 solid 1px; padding:0 10px;}
.section .title strong{font-size:14px; font-weight:bold;}
.section .title select{margin-top:4px; *margin-top:0; padding:3px; width:100px;}
.section .title .search{float:right; width:188px; padding-top:4px; *padding-top:0;}
.section .title .search .input_text{width:160px; background:#FFF url("icon_search.png")/*tpa=http://www.bangcle.com/static/images/icon_search.png*/ 4px 5px no-repeat; height:20px; line-height:20px; padding-left:20px; padding-right:4px;}
.section #refresh{width:60px;height:26px;background:#468fcf;border:0px;line-height:26px;vertical-align:middle;color:white;float:right;display:inline-block;letter-spacing:1px;margin-top:3px;}
.main{min-height:415px; _height:expression(this.scrollHeight > 415 ? "auto" : "415px"); padding:0 10px; zoom:1;}
.main table{width:100%; margin-bottom:10px;}
.main table input{vertical-align:middle; margin-right:4px; _margin-top:-2px;}
.main th{height:34px; line-height:34px; border-bottom:#CCC solid 2px; padding:0 8px; font-weight:bold;}
.main td{height:32px; line-height:32px; border-bottom:#D5D5D5 solid 1px; padding:0 8px;}
.main tbody tr.bg{background-color:#FBFBFB;}
.main tbody tr:hover{background-color:#F2F4F6;}
.main tbody tr.cur{background-color:#FFFFCC;}
.main td .icon{padding-left:20px; margin-left:8px;}
.main td .return{background:url("icon_return.png")/*tpa=http://www.bangcle.com/static/images/icon_return.png*/ left center no-repeat;}
.main td .cancel{background:url("icon_del.png")/*tpa=http://www.bangcle.com/static/images/icon_del.png*/ left center no-repeat;}
.main td .report{background:url("icon_report.png")/*tpa=http://www.bangcle.com/static/images/icon_report.png*/ left center no-repeat;}
.main td .detail{background:url("icon_detail.png")/*tpa=http://www.bangcle.com/static/images/icon_detail.png*/ left center no-repeat;}
.main td .log{background:url("icon_download.png")/*tpa=http://www.bangcle.com/static/images/icon_download.png*/ left center no-repeat;}
.main td .stop{background:url("icon_stop.png")/*tpa=http://www.bangcle.com/static/images/icon_stop.png*/ left center no-repeat;}
.list_foot{height:36px;}
.list_set a{display:block; float:left; background:url("button_bg4-1.png")/*tpa=http://www.bangcle.com/static/images/button_bg4.png*/ repeat-x; height:24px; line-height:24px; border:#D5D5D5 solid 1px; border-radius:3px 3px 3px 3px; padding:0 10px; color:#333; text-decoration:none;}
.list_set a:hover{opacity:0.8;}
.page_nav{vertical-align:middle; margin-bottom:10px; text-align:right; float:right;}
.page_nav strong{font-weight:normal;}
.page_nav strong a{display:inline-block; background-color:#FFF; border:#D5D5D5 solid 1px; border-radius:3px 3px 3px 3px; height:24px; line-height:24px; text-decoration:none; padding:0 10px; vertical-align:middle;}
.page_nav strong a:hover{background-color:#FBFBFB;}
.page_nav strong .cPageNum{display:inline-block; font-size:16px; height:24px; line-height:24px; padding:0 10px; cursor:default; vertical-align:middle;}
select{border:#D5D5D5 solid 1px; padding:4px;}
.input_text,textarea{
	//background:#FFF url("input_text_bg.png")/*tpa=http://www.bangcle.com/static/images/input_text_bg.png*/ repeat-x; 
	border:#D5D5D5 solid 1px; font:12px/25px verdana,tahoma,arial,sans-serif; height:25px; outline:medium none; padding:2px;}
.input_text:focus,textarea:focus{border:#4D90FE solid 1px;}
input.error_tips,textarea.error_tips{background:#fbe3e4; border:#dd4b39 solid 1px;}
.report_list{width:360px; float:right;}
.report_list h4{height:30px; line-height:30px; font-size:14px; font-weight:bold; padding:0 10px;}
.report_list h4 a{float:right; font-family:"宋体"; font-size:12px;}
.report_list ul{padding:6px 10px 0;}
.report_list li{height:28px; line-height:28px; border-bottom:#D5D5D5 dashed 1px;}
.report_list li span{float:right; color:#999;}
.report_list li em{margin-right:8px;}
.use_show dl{float:left; padding:10px; width:288px;}
.use_show dt a{display:block; height:50px; line-height:50px; font-size:18px; text-decoration:none; width:285px; text-align:center; border:#D5D5D5 solid 1px; background-color:#FFF;}
.use_show dt a:hover{border:#5B95D5 solid 1px;}
.use_show dd{height:24px; line-height:24px; color:#666;}
.radio_show{height:30px; margin:0 auto 10px;}
.radio_show span{display:block; float:left; background:url("radio_bg.png")/*tpa=http://www.bangcle.com/static/images/radio_bg.png*/ left bottom repeat-x; border:#bec6cc solid 1px; height:28px; line-height:28px; width:160px; overflow:hidden; text-align:center; text-shadow:0 1px 0 #FFFFFF; color:#555555; cursor:pointer; margin-left:-1px;}
.radio_show .cur{background-position:left top; cursor:default;}
.radio_show .first{border-radius:3px 0 0 3px;}
.radio_show .end{border-radius:0 3px 3px 0;}
.flow_step{height:32px; overflow:hidden;}
.flow_step li{float:left; background:#E6E6E6 url("flow_step_bg.png")/*tpa=http://www.bangcle.com/static/images/flow_step_bg.png*/ 0 -64px no-repeat; padding-left:15px; height:32px; line-height:32px; font-size:14px; color:#666666; text-align:center;}
.flow_step .step_1{background-image:none;}

.form_ul{padding:20px 0;}
.form_ul li{position:relative; padding:0 0 10px 120px; min-height:40px; _height:expression(this.scrollHeight > 40 ? "auto" : "40px"); zoom:1;}
.form_ul li strong{height:30px; line-height:30px; width:100px; padding-right:10px; text-align:right; font-weight:bold; position:absolute; left:0; top:0;}
.form_ul li .not_null{background:url("icon_red.png")/*tpa=http://www.bangcle.com/static/images/icon_red.png*/ right center no-repeat;}
.form_ul li .input_text{width:318px;}
.form_ul li textarea{width:318px; height:78px;}
.form_ul li.home_show{padding-top:10px; min-height:25px; _height:expression(this.scrollHeight > 25 ? "auto" : "25px");}
.form_ul li.home_show input{vertical-align:-2px; margin-right:4px;}
.form_ul li span.attention{display:block; padding-top:4px; word-wrap:break-word; color:#999;}
.form_ul li span.error_tips{display:block; height:30px; line-height:30px; color:#C00; position:absolute; left:452px; top:0; z-index:999;}
.form_ul li.button{height:32px; line-height:32px; font-size:14px; padding:10px 0 0 120px;}
li.check_code .input_text{width:100px!important; float:left; margin-right:8px;}
li.check_code a{display:inline-block; text-decoration:none;}
li.check_code a img{vertical-align:top; margin-right:4px;}
li.check_code a em{vertical-align:-5px; cursor:pointer;}

.certificate_title{background-color:#5B95D5; height:80px; line-height:80px; text-align:center; font-size:36px; text-shadow:0 1px 0 #555555; color:#FFF; margin-bottom:10px;}
.app_info{float:right; width:430px; height:440px; margin-bottom:10px;}
.app_info h3{background-color:#F3F8FF; border-bottom:1px solid #DBECEC; border-top:2px solid #458FCE; height:35px; line-height:35px; padding:0 10px; font-size:14px; font-weight:bold; margin-bottom:10px;}
.app_info textarea{height:80px; width:424px; line-height:20px;}
.zb_btn{text-align:right; padding:8px 0;}
.app_jj{background-color:#FBFBFB; border:#D5D5D5 solid 1px; border-radius:5px; height:258px; position:relative;}
.app_jj h4{height:35px; line-height:35px; padding:0 10px; font-size:14px; font-weight:bold;}
.app_jj p{padding:0 10px; text-indent:2em;}
.app_jj .download{display:block; background:url("button_download.png")/*tpa=http://www.bangcle.com/static/images/button_download.png*/ no-repeat; height:48px; width:164px; text-indent:-999em; position:absolute; left:138px; bottom:25px;}
.app_certificate{float:left; width:320px; height:440px; margin-bottom:10px;}
.certificate_mobile{clear:both;}
.certificate_mobile_title{background-color:#F3F8FF; border-bottom:1px solid #DBECEC; border-top:2px solid #458FCE; height:35px; line-height:35px; padding:0 10px; font-size:14px; font-weight:bold;}
.certificate_mobile .mobile_box{width:229px;}

.create{background-color:#FBFBFB; border:#D5D5D5 solid 1px; padding:20px; margin-bottom:10px;}
.create .flow_step{margin-bottom:40px;}
.create .flow_step .cols3 li{width:297px; color:#999;}
.create .flow_step .cols3 .cur{font-weight:bold; color:#3164AF;}
.create .flow_step1{background:url("flowstep_bg.png")/*tpa=http://www.bangcle.com/static/images/flowstep_bg.png*/ no-repeat; height:41px; width:937px; margin:0 auto 40px;}
.create .flow_step1 li{float:left; height:41px; line-height:41px; font-size:18px; color:#999999;}
.create .flow_step1 .step_1{background:url("flowstep_icon.png")/*tpa=http://www.bangcle.com/static/images/flowstep_icon.png*/ 35px 12px no-repeat; width:247px; padding-left:65px; color:#FFFFFF;}
.create .flow_step1 .step_2{background:url("flowstep_icon.png")/*tpa=http://www.bangcle.com/static/images/flowstep_icon.png*/ 70px -110px no-repeat; width:212px; padding-left:100px;}
.create .flow_step1 .step_3{background:url("flowstep_icon.png")/*tpa=http://www.bangcle.com/static/images/flowstep_icon.png*/ 100px -150px no-repeat; width:182px; padding-left:130px;}
.create .flow_step2{background:url("flowstep_bg.png")/*tpa=http://www.bangcle.com/static/images/flowstep_bg.png*/ left bottom no-repeat; height:41px; width:937px; margin:0 auto 40px;}
.create .flow_step2 li{float:left; height:41px; line-height:41px; font-size:18px; color:#999999;}
.create .flow_step2 .step_1{background:url("flowstep_icon.png")/*tpa=http://www.bangcle.com/static/images/flowstep_icon.png*/ 70px -110px no-repeat; width:212px; padding-left:100px;}
.create .flow_step2 .step_2{background:url("flowstep_icon.png")/*tpa=http://www.bangcle.com/static/images/flowstep_icon.png*/ 35px 12px no-repeat; width:247px; padding-left:65px; color:#FFFFFF;}
.create .flow_step2 .step_3{background:url("flowstep_icon.png")/*tpa=http://www.bangcle.com/static/images/flowstep_icon.png*/ 100px -150px no-repeat; width:182px; padding-left:130px;}
.create .flow_step1 .up_script{background-position:13px 12px; width:270px; padding-left:42px;}
.create .flow_step1 .up_script span{font-size:14px;}
.create .form_ul{padding:20px 0 20px 184px; position:relative;}
.create .radio_show{width:325px;}
.create .file_bt:hover{opacity:0.8;}
.create .test_type dl{float:left; width:160px;}
.create .test_type dt{height:30px; line-height:30px;}
.create .test_type dd{height:24px; line-height:24px;}
.create .test_type dd input{vertical-align:-2px; margin-right:4px;}
.create .form_ul li.upload_bt{padding:0; position:absolute; left:633px; top:20px; width:98px; height:34px;}
.create .form_ul li.upload_bt i{display:block; background-color:#FBFBFB; position:absolute; left:0; top:0; width:100px; height:34px;}
.create .form_ul li.upload_bt2{padding:0; position:absolute; left:633px; top:86px; width:98px; height:34px;}
.create .form_ul li.upload_bt2 i{display:block; background-color:#FBFBFB; position:absolute; left:0; top:0; width:100px; height:34px;}
.swfupload{vertical-align:-10px; *vertical-align:-2px; background:url("upload_bt-1.png")/*tpa=http://www.bangcle.com/static/images/upload_bt.png*/ no-repeat;}

.brand_banner{background-color:#5B95D5; height:100px; line-height:100px; text-align:center; font-size:36px; text-shadow:0 1px 0 #555555; color:#FFF; margin-bottom:10px;}
.brand_list li{float:left; padding:0 10px 10px 0;}
.brand_list li a{display:block; height:78px; padding-top:4px; font-size:14px; text-decoration:none; width:153px; text-align:center; border:#D5D5D5 solid 1px; background-color:#FFF;}
.brand_list li a:hover{border:#5B95D5 solid 1px;}
.brand_list li img{display:block; margin:0 auto;}
.brand_title{height:50px; line-height:50px; margin-bottom:10px;}
.brand_title .return{float:right;}
.brand_title .return a{display:block; height:44px; background-color:#FBFBFB; border:#D5D5D5 solid 1px; border-radius:3px 3px 3px 3px; width:80px; padding-top:6px; line-height:1.5;text-align:center; text-decoration:none;}
.brand_title .return a:hover{background-color:#F8FDFF; border-color:#ECF5FF;}
.brand_title h2{font-size:24px; float:left;}
.brand_title h2 img{display:block; float:left; margin-right:10px;}
.brand_title h2 span{color:#999; font-size:18px;}
.brand_title .tips{background-color:#FBFBFB; border:#DDD solid 1px; border-radius:3px 3px 3px 3px; position:relative; left:10px; width:460px; height:40px; padding:4px 6px; line-height:1.5; font-size:12px; color:#666; float:left;}
.brand_title .tips i{display:block; background:url("icon_v.png")/*tpa=http://www.bangcle.com/static/images/icon_v.png*/ no-repeat; width:7px; height:12px; position:absolute; left:-7px; top:19px;}
.vip{height:100px; margin-bottom:10px;}
.vip span{float:left; background-color:#5B95D5; height:100px; line-height:100px; width:237px; text-align:center; font-size:24px; text-shadow:0 1px 0 #555555; color:#FFF; margin-left:10px;}
.selected_area{border:#D5D5D5 solid 1px; background-color:#FBFBFB; padding-bottom:10px; margin-bottom:10px; zoom:1;}
.selected_area h3{font-size:14px; font-weight:bold; background:url("h4_bg.png")/*tpa=http://www.bangcle.com/static/images/h4_bg.png*/ repeat-x; height:34px; line-height:34px; padding:0 10px;}
.selected_area ul{margin-bottom:10px;}
.selected_area li{position:relative; padding:5px 5px 5px 110px; border-bottom:#D5D5D5 dotted 1px;}
.selected_area li strong{height:30px; line-height:30px; width:100px; text-align:right; font-weight:bold; position:absolute; left:0; top:5px;}
.selected_area li dl{zoom:1; *margin-top:-18px;}
.selected_area li dt,.selected_area li dd{float:left; height:30px; line-height:30px; padding-right:16px; white-space:nowrap;}
.selected_area li input{vertical-align:-2px;}
.selected_area li.end{border-bottom-style:solid;}
.selected_area button{display:block; background:url("button_begin.png")/*tpa=http://www.bangcle.com/static/images/button_begin.png*/ left bottom no-repeat; border:none; height:42px; line-height:42px; width:220px; text-indent:-999em; margin:0 auto;}
.selected_area button:hover{background-position:left top;}

.os_tabs{height:35px; padding:8px 0 0 8px; border-bottom:#D5D5D5 solid 1px;}
.os_tabs span{display:inline-block; background-color:#FFFFFF; border:#D5D5D5 solid 1px; height:34px; line-height:34px; width:100px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; text-decoration:none; cursor:pointer; margin-right:5px; position:relative;}
.os_tabs span i{display:block; background:url("icon_new.png")/*tpa=http://www.bangcle.com/static/images/icon_new.png*/ no-repeat; height:16px; width:16px; text-indent:-999em; position:absolute; right:8px; top:2px;}
.os_tabs .cur{background-color:#FBFBFB; border-bottom:none; height:35px; cursor:default;}

.mobile_list .round_title em{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; color:#F00; padding:0 2px 0 4px;}
.mobile_list .round_title i{color:#5B95D5; font-style:normal;}
.mobile_list .round_title span{font-weight:normal;}
.mobile_list .round_title span label{margin-left:10px;}
.mobile_list .round_title select{padding:1px;}
.mobile_list input{vertical-align:-2px;}
.mobile_list .round_main{height:auto; padding-bottom:10px;}
.mobile_list table{width:100%;}
.mobile_list td{height:30px; padding:0 10px; border-bottom:#D5D5D5 solid 1px; border-right:#D5D5D5 solid 1px;}
.mobile_box_m{padding-bottom:10px;}
.mobile_box{display:inline; background-color:#FFF; border:#D5D5D5 solid 1px; border-radius:3px 3px 3px 3px; width:220px; height:168px; padding:5px; overflow:hidden; float:left; margin:10px 0 0 10px; zoom:1;}
.mobile_box h3{height:30px; line-height:30px; border-bottom:#D5D5D5 solid 1px; font-size:14px; margin-bottom:10px; overflow:hidden;}
.mobile_box h3 input{margin-top:8px; *margin-top:4px;}
.mobile_box dl img{float:left; margin-right:10px;}
.mobile_box dd{height:24px; line-height:24px;}
.mobile_list .page_nav{padding-right:10px;}
.pay{background-color:#FBFBFB; border:#D5D5D5 solid 1px; padding:40px; min-height:350px;}
.pay .order_table{width:100%;}
.pay .order_table th{background-color:#E5E9ED; border:1px solid #D5D5D5; height:32px; padding:0 8px;}
.pay .order_table td{background-color:#FFF; border:1px solid #D5D5D5; height:32px; padding:0 10px;}
.pay ul{padding-top:20px;}
.pay li{position:relative; padding-left:120px; height:30px; line-height:30px; padding-bottom:15px;}
.pay li strong{height:30px; line-height:30px; width:100px; text-align:right; padding-right:20px; font-weight:bold; position:absolute; left:0; top:0;}
.pay li span{padding-right:20px;}
.pay li span label{margin-right:4px;}
.pay li span label input{margin-right:4px;}
.pay li .input_text{width:40px; height:20px; line-height:20px; text-align:center; margin-right:4px;}
.pay li em{font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#F60;}
.pay li.button{padding-top:20px;}
.progress_show{height:20px; line-height:20px; margin-bottom:10px;}
.progress_show .progress{background:url("progress_bg.png")/*tpa=http://www.bangcle.com/static/images/progress_bg.png*/ repeat-x; border:1px solid #C8C8C8; border-radius:10px; height:12px; overflow:hidden; padding:0 1px;width:770px; position:relative; top:4px;}
.progress_show .progress .precent{background:url("progress_bg.png")/*tpa=http://www.bangcle.com/static/images/progress_bg.png*/ 0 -12px repeat-x; border-radius:10px; height:100%;}
.progress_show .bz{float:right; font-size:14px;}
.mobile_info{float:left; width:375px; margin-bottom:10px;}
.mobile_info h3{ border:1px solid #D5D5D5; border-bottom:none;}
.mobile_info h3 em{font-weight:normal;}
.mobile_info .round_main{height:165px;}
.mobile_info table{width:100%; height:100%;}
.mobile_info th{background-color:#F7F8FA; border:1px solid #D5D5D5; border-top:none; height:32px; width:80px; padding:0 8px; text-align:right;}
.mobile_info td{border:1px solid #D5D5D5; border-top:none; height:32px; padding:0 10px;}
.log_info{float:right; width:375px; background-color:#FFF;}
.log_info h3 .fr{float:right;}
.log_info h3 .icon{padding-left:20px; font-weight:normal; margin-left:8px;}
.log_info h3 .download{background:url("icon_download.png")/*tpa=http://www.bangcle.com/static/images/icon_download.png*/ left center no-repeat;}
.log_info .round_main{height:164px;}
.log_info .sp_step{height:36px; padding-top:6px;}
.log_info .sp_step span{display:inline-block; height:32px; line-height:32px; padding-left:38px; font-size:18px; margin-left:50px;}
.log_info .sp_step .float_tips{cursor:help;}
.log_info .sp_step .float_tips strong{display:inline-block; height:32px; line-height:32px; background:url("icon_help.png")/*tpa=http://www.bangcle.com/static/images/icon_help.png*/ right 10px no-repeat; padding-right:20px;}
.log_info .sp_step .a1{background:url("icon_1.png")/*tpa=http://www.bangcle.com/static/images/icon_1.png*/ no-repeat; color:#70BD01;}
.log_info .sp_step .a2{background:url("icon_2.png")/*tpa=http://www.bangcle.com/static/images/icon_2.png*/ no-repeat; color:#EE0000;}
.log_info .sp_step .a3{background:url("icon_3.png")/*tpa=http://www.bangcle.com/static/images/icon_3.png*/ no-repeat; color:#999999;}
.log_info .log_m{border-top:#D5D5D5 solid 1px; font-family:Tahoma,Geneva,sans-serif; font-size:12px; height:120px; line-height:1.5; overflow:auto; padding:0 8px; word-wrap:break-word;}
.screenshot{clear:both; margin-bottom:0;}
.screenshot h3 select{float:right; padding:0; font-weight:normal; margin-top:5px;}
.screenshot .round_main a{display:block; background-color:#FFF; border:#D5D5D5 dashed 1px; width:220px; text-align:center; height:320px; line-height:320px; overflow:hidden; vertical-align:middle;}
.screenshot .round_main a img{vertical-align:middle;}
.screenshot .round_main a i{display:inline-block; height:100%; vertical-align:middle;}
.screenshot .round_main span{display:block; width:222px; font-size:14px; padding-top:4px;}
.screenshot .pic_show{height:380px; position:relative; padding:0 34px;}
.screenshot .pic_show button{display:block; width:18px; height:36px; text-indent:-999em; border:none; position:absolute; top:155px;}
.screenshot .pic_show .prev{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ 0 0 no-repeat; left:8px;}
.screenshot .pic_show .next{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ -19px 0 no-repeat; right:8px;}
.screenshot .pic_show .prev:hover{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ -40px 0 no-repeat;}
.screenshot .pic_show .next:hover{background:url("bt_lr.png")/*tpa=http://www.bangcle.com/static/images/bt_lr.png*/ -59px 0 no-repeat;}
.screenshot .pic_show li{float:left; width:220px; padding:20px 5px 0; text-align:center;}
.screenshot .pic_slide_show{height:380px; overflow-x:auto;}
.screenshot .pic_slide_show table{table-layout:fixed;}
.screenshot .pic_slide_show td{width:220px; padding:10px 10px 0; text-align:center;}
.button button{display:block; height:30px; line-height:30px; border:none; font-weight:bold; color:#FFF; text-shadow:0 1px 0 #555555; float:left; margin-right:2em;}
.button .blue_button{background:url("blue_button_bg.png")/*tpa=http://www.bangcle.com/static/images/blue_button_bg.png*/ no-repeat; width:75px;}
.button .blue_button:hover{background-position:left bottom;}
.button .blue_button2{background:url("blue_button_bg2.png")/*tpa=http://www.bangcle.com/static/images/blue_button_bg2.png*/ no-repeat; width:100px;}
.button .blue_button2:hover{background-position:left bottom;}
.button .red_button{background:url("red_button_bg.png")/*tpa=http://www.bangcle.com/static/images/red_button_bg.png*/ no-repeat; width:75px;}
.button .red_button:hover{background-position:left bottom;}
.button .login_button{background:url("button_login.png")/*tpa=http://www.bangcle.com/static/images/button_login.png*/ left bottom no-repeat; height:42px; width:146px; text-indent:-999em;}
.button .login_button:hover{background-position:left top;}
.no_data{display:block; text-align:center; font-size:18px; color:#999; padding:80px 0;}

.webapp_create{background-color:#FBFBFB; border:#D5D5D5 solid 1px; margin-bottom:10px;}
.webapp_create h3{font-size:14px; font-weight:bold; background:url("h4_bg.png")/*tpa=http://www.bangcle.com/static/images/h4_bg.png*/ repeat-x; height:34px; line-height:34px; padding:0 10px;}
.webapp_create h3 .import_url{float:right; background:url("icon_import.png")/*tpa=http://www.bangcle.com/static/images/icon_import.png*/ left center no-repeat; padding-left:20px;}
.webapp_create ul{padding:40px 0;}
.webapp_create li{position:relative; padding:5px 0 5px 120px; min-height:40px; _height:expression(this.scrollHeight > 40 ? "auto" : "40px"); zoom:1;}
.webapp_create li strong{height:30px; line-height:30px; width:100px; padding-right:10px; text-align:right; font-weight:bold; position:absolute; left:0; top:5px;}
.webapp_create li .input_text{width:420px;}
.webapp_create li .add_url{display:block; padding-top:8px; word-wrap:break-word; color:#999;}
.webapp_create li .add_url a{display:inline-block; background:url("icon_add.png")/*tpa=http://www.bangcle.com/static/images/icon_add.png*/ left center no-repeat; padding-left:20px; margin-right:8px;}
.webapp_create li span.error_tips{display:block; height:30px; line-height:30px; color:#C00; position:absolute; left:555px; top:5px;}
.webapp_create li span.good_tips{display:block; background:url("icon_y.png")/*tpa=http://www.bangcle.com/static/images/icon_y.png*/ no-repeat; height:15px; width:15px; text-indent:-999em; position:absolute; left:555px; top:13px;}
.applist_tabs{height:33px; padding-left:1px; _padding-left:2px; *position:relative; top:0; _top:1px;}
.applist_tabs span{display:block; float:left; background-color:#FBFBFB; border:#D5D5D5 solid 1px; height:32px; margin-left:-1px;}
.applist_tabs span a{display:block; float:left; padding:0 16px; height:32px; line-height:32px; color:#333; text-decoration:none;} 
.applist_tabs span.cur{background-color:#F6F6F6; border-bottom-color:#F6F6F6; border-bottom-width:2px;}
.applist_tabs .f_r{float:right;}
.applist_tabs .f_r .button_create{display:block; background:url("button_create.png")/*tpa=http://www.bangcle.com/static/images/button_create.png*/ no-repeat; height:28px; line-height:28px; width:122px; padding-left:38px; color:#FFF; text-shadow: 0 1px 0 #555; text-decoration:none;cursor:pointer}
.applist_tabs .f_r .button_create:hover{background-position:left bottom;}
.screenshot h3 .qtestin{float:right; margin-left:10px; background:url("icon_qtestin.png")/*tpa=http://www.bangcle.com/static/images/icon_qtestin.png*/ left center no-repeat; padding-left:20px;}
.screenshot h3 .cut{width:500px; font-weight:normal; margin-top:-4px;}
.mobile_info2{margin-bottom:10px;}
.mobile_info2 h3{border:1px solid #D5D5D5; border-bottom:none;}
.mobile_info2 h3 em{font-weight:normal;}
.mobile_info2 .round_main{height:115px;}
.mobile_info2 table{width:100%; height:100%;}
.mobile_info2 th{background-color:#E5E9ED; border:1px solid #D5D5D5; border-top:none; width:80px; padding:0 8px; text-align:right;}
.mobile_info2 td{border:1px solid #D5D5D5; border-top:none; padding:0 10px;}
.mobile_info2 td img{width:58px; height:100px;}
.webapp_pic .section_title{height:36px;}
.webapp_pic .section_title a{display:inline-block; border:#D5D5D5 solid 1px; height:34px; line-height:34px; padding:0 1.5em; font-size:14px; font-weight:bold; text-decoration:none; margin-right:5px;}
.webapp_pic .section_title .cur{background-color:#FBFBFB; border-bottom:none; height:35px; color:#555; cursor:default;}
.webapp_pic .screenshot{margin-top:-1px;}
.response{float:right; font-weight:normal; color:#080;}
#rep_surplus_msg{background-color:#D5D5D5; height:25px; line-height:25px; text-align:center;}
.domain{float:left; background:url("icon_fold.png")/*tpa=http://www.bangcle.com/static/images/icon_fold.png*/ right -79px no-repeat; width:auto; max-width:300px; _width:expression(this.scrollWidth > 300 ? "300px" : "auto"); padding-right:16px;}
.domain_cur{float:left; background:url("icon_fold.png")/*tpa=http://www.bangcle.com/static/images/icon_fold.png*/ right 14px no-repeat; width:auto; max-width:300px; _width:expression(this.scrollWidth > 300 ? "300px" : "auto"); padding-right:16px;}
.url_list li{height:22px; line-height:22px;}
.url_list li strong{float:left; width:86px; text-align:right;}
.url_list li a{float:left; background:url("url_target_bg.png")/*tpa=http://www.bangcle.com/static/images/url_target_bg.png*/ right center no-repeat; width:auto; max-width:840px; _width:expression(this.scrollWidth > 840 ? "840px" : "auto"); padding-right:16px;}


.report_main table{width:100%; font-size:14px; margin-bottom:10px;}
.report_main caption{background-color:#E5E9ED; border:1px solid #D5D5D5; border-bottom:none; height:32px; line-height:32px; text-align:center;}
.report_main th{background-color:#E5E9ED; border:1px solid #D5D5D5; height:32px; padding:0 8px; text-align:center;}
.report_main td{border:1px solid #D5D5D5; height:32px; padding:0 10px; text-align:center;}
.report_main .dashboard th{text-align:right;}
.report_main .dashboard td{text-align:left;}
.report_main .data_map{width:750px; margin:0 auto 10px;}
.mobile_list .round_main h4{background-color:#E5E9ED; border-bottom:1px solid #D5D5D5; height:32px; line-height:32px; font-size:14px; padding:0 10px;}
.mobile_list .round_main table{margin-bottom:0;}
.mobile_list .round_main td{font-size:12px; text-align:left; border-left:none; border-top:none;}

.quickly_test .create{background:#FBFBFB url("quickly_banner.png")/*tpa=http://www.bangcle.com/static/images/quickly_banner.png*/ center bottom no-repeat; padding-bottom:200px;}
.quickly_test .app_list{background-color:#FFF; border:#D5D5D5 solid 1px; border-radius:3px; height:180px; margin-bottom:10px;}
.quickly_test .app_list h3{height:35px; line-height:35px; padding:0 10px; border-bottom:#D5D5D5 solid 1px; font-size:16px; position:relative;}
.quickly_test .app_list li{float:left; width:100px; text-align:center; padding:12px 0 0 20px; height:125px; overflow:hidden;}
.quickly_test .app_list li img{display:block; margin:0 auto 4px;}
.quickly_test .app_list li strong{display:block; background-color:#82bf4a; border-radius:5px; height:20px; line-height:20px; text-align:center; font-size:12px; color:#FFF;}

.footer{border-top:#D5D5D5 dotted 1px; width:980px; text-align:center; padding:10px 0; margin:0 auto;}


.message {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 20px; PADDING-LEFT: 32px; PADDING-RIGHT: 15px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 6px; border-radius: 3px 3px 3px 3px
}
.message A {
	MARGIN: 0px 2px; TEXT-DECORATION: underline
}
.message_error {
	BORDER-BOTTOM: #e9c59b 1px solid; BORDER-LEFT: #e9c59b 1px solid; BACKGROUND: url("message_error-1.gif")/*tpa=http://www.bangcle.com/static/images_v2.10/message_error.gif*/ #ffecce no-repeat 8px 9px; BORDER-TOP: #e9c59b 1px solid; BORDER-RIGHT: #e9c59b 1px solid
}
.message_success {
	BORDER-BOTTOM: #bfde84 1px solid; BORDER-LEFT: #bfde84 1px solid; BACKGROUND: url("message_success-1.gif")/*tpa=http://www.bangcle.com/static/images_v2.10/message_success.gif*/ #edfbd8 no-repeat 8px 9px; BORDER-TOP: #bfde84 1px solid; BORDER-RIGHT: #bfde84 1px solid
}
.message_info {
	BORDER-BOTTOM: #bbdbe0 1px solid; BORDER-LEFT: #bbdbe0 1px solid; BACKGROUND: url("message_info-1.gif")/*tpa=http://www.bangcle.com/static/images_v2.10/message_info.gif*/ #ecf9ff no-repeat 8px 9px; BORDER-TOP: #bbdbe0 1px solid; BORDER-RIGHT: #bbdbe0 1px solid
}
.message_warning {
	BORDER-BOTTOM: #e5e181 1px solid; BORDER-LEFT: #e5e181 1px solid; BACKGROUND: url("message_warning-1.gif")/*tpa=http://www.bangcle.com/static/images_v2.10/message_warning.gif*/ #fefde2 no-repeat 8px 9px; BORDER-TOP: #e5e181 1px solid; BORDER-RIGHT: #e5e181 1px solid
}
.disclaimer {
	LINE-HEIGHT: 20px; WIDTH: 600px; HEIGHT: 300px;
}

.header_dzone {
	PADDING-BOTTOM: 20px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; HEIGHT: 44px; PADDING-TOP: 20px
}
.header_dzone .menu {
	FLOAT: right
}
.header_dzone .menu LI {
	Z-INDEX: 9; POSITION: relative; LINE-HEIGHT: 32px; DISPLAY: inline; FLOAT: left; HEIGHT: 32px; MARGIN-LEFT: 32px
}
.header_dzone .menu LI A {
	COLOR: #333; FONT-SIZE: 16px; TEXT-DECORATION: none
}
.header_dzone .menu LI UL {
	POSITION: absolute; BACKGROUND-COLOR: #fff; WIDTH: 80px; DISPLAY: none; MARGIN-LEFT: -40px; TOP: 32px; PADDING-TOP: 4px; LEFT: 50%
}
.header_dzone .menu LI LI {
	MARGIN: 0px; FLOAT: none; HEIGHT: auto
}
.header_dzone .menu LI LI A {
	LINE-HEIGHT: 30px; BACKGROUND-COLOR: #1d8bd8; PADDING-LEFT: 10px; DISPLAY: block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.header_dzone .menu LI LI A:hover {
	opacity: 0.8
}
.header_dzone .menu .drop_downs_mouseover UL {
	DISPLAY: block
}
.mask{Z-INDEX: 98;POSITION: fixed;WIDTH: 100%;BACKGROUND: url("opacity_bg.png")/*tpa=http://www.bangcle.com/static/images_v2.10/opacity_bg.png*/;HEIGHT: 100%;TOP: 0px;LEFT: 0px;}
/*------------------app shield multiple channel---------------*/
.multi_channel_tip{
position: fixed;
margin-top: -140px;
margin-left: -240px;
left: 50%;
top: 50%;
z-index: 99;
border: #d5d5d5 1px solid;
background-color: #fbfbfb;
width: 480px;
height: 280px;
padding:20px 30px;
}
.multi_channel_main{
border:1px solid #bbdbe0;width:600px;margin-bottom:20px;
}
.multi_channel_title{
background:#ecf9ff;padding:10px 80px 6px;border-bottom:1px solid #bbdbe0;
}
.multi_channel_btn_group{
border:1px solid #6cc;width:324px;text-align:center;margin:0 auto;
}
.multi_channel_btn{
display:inline-block;width:160px;height:40px;line-height:40px;vertical-align:middle;font-size:14px;cursor:pointer;
}
.multi_channel_btn_active{
color:white;background:#699
}
.multi_channel_content{
width:450px;margin:auto;padding-bottom:20px;
}
.multi_channel_label{
font-weight:bold;font-size:14px;color:#575757;display:inline-block;vertical-align:top;width:112px;text-align:right;
}
.multi_channel_list{
position: fixed;
margin-top: -260px;
margin-left: -490px;
left: 50%;
top: 50%;
z-index: 99;
width: 980px;
height: 416px;
}
.multi_download_btn{
margin-left:10px;display:inline-block;background:#4287cc;width:150px;height:30px;text-align:center;font-size:16px;color:white;
}
.round_wrapper {
	BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; BACKGROUND-COLOR: #fbfbfb; MARGIN-BOTTOM: 10px; BORDER-TOP: #d5d5d5 1px solid; BORDER-RIGHT: #d5d5d5 1px solid
}
.round_title {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url("h4_bg.png")/*tpa=http://www.bangcle.com/static/images/h4_bg.png*/ repeat-x; HEIGHT: 34px; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.yunceshi {
	BACKGROUND-COLOR: #ffffff; CLEAR: both
}
.yunceshi .round_title {
	PADDING-RIGHT: 0px
}
.yunceshi .round_title SPAN {
	WIDTH: 107px; BACKGROUND: url("yunceshi_bt.png")/*tpa=http://www.bangcle.com/static/images/yunceshi_bt.png*/ no-repeat; FLOAT: right; HEIGHT: 34px
}
.yunceshi .round_title SPAN:hover {
	BACKGROUND-POSITION: right top
}
.yunceshi .round_title SPAN A {
	LINE-HEIGHT: 33px; PADDING-LEFT: 35px; DISPLAY: block; HEIGHT: 34px; COLOR: #ffffff; TEXT-DECORATION: none
}
.yunceshi .round_title .add A {
	BACKGROUND: url("icon_add.png")/*tpa=http://www.bangcle.com/static/images/icon_add.png*/ no-repeat 14px center
}
/*------------------app shield multiple channel end---------------*/

/*------------------safecheck virus -------------------------------*/
.safecheck{
position: fixed;
margin-top: -150px;
margin-left: -200px;
left: 50%;
top: 50%;
z-index: 99;
width: 400px;
height: 250px;
background-color: #fbfbfb;
}
.safecheck_title{
	height:35px;
	background:#468fcf;
	line-height:35px;
	vertical-align:middle;
	font-size:16px;
	color:#fff;
	padding-left:20px;
}
.safecheck_subtitle {
	display:inline-block;
	padding-left:30px;
	padding-top:20px;
	color:#000;
	font-size:12px;
	text-decoration:none;
}
.safecheck_content{
	padding:10px 30px 0 30px;height:100px;overflow:auto;
}
.safecheck a{
height:30px;width:100px;background:#1e9705;display:inline-block;line-height:30px;vertical-align:middle;color:white;text-decoration:none;
}
/*------------------safecheck virus end-------------------------------*/

/*------------------explain -------------------------------*/
.explain{
position: fixed;
margin-top: -150px;
margin-left: -350px;
left: 50%;
top: 50%;
z-index: 99;
width: 700px;
height: 300px;
background-color: #fbfbfb;
}
.explain_title{height:35px;	background:#468fcf;line-height:35px;vertical-align:middle;font-size:16px;	color:#fff;	padding-left:20px;}
#button button{
height:30px;width:100px;background:#1e9705;display:inline-block;line-height:30px;vertical-align:middle;color:white;text-decoration:none;border:0px;
}
/*------------------explain end-------------------------------*/

.multi_channel_tip_safty_assess {
	padding: 0px;
	width: 570px;
	height: 350px;
	margin-top: -50px;
	background-color:#fff;
	top: 24%;
	left: 46%;
}

.multi_channel_tip_safty_assess_title {
	margin-bottom: 5px;
}

.multi_channel_tip_safty_assess_title a{
	position: absolute;
	top: 5px;
	right: 5px;
}

.multi_channel_tip_safty_assess_title span {
	display: inline-block;
	margin: 10px 0px 10px 10px;
	font-size: 18px;
	color: #666666;
}

.multi_channel_tip_safty_assess_title {
	border-bottom: 1px solid #ccc;
}

.disclaimer_safty_assess {
	LINE-HEIGHT: 20px; WIDTH: 560px; HEIGHT: 300px;
}

.topnav .login .sweibo {
	PADDING-LEFT: 28px; PADDING-RIGHT: 6px; DISPLAY: inline-block; BACKGROUND: url("icon_topnav.png")/*tpa=http://www.bangcle.com/static/images/icon_topnav.png*/ no-repeat 6px 8px; MARGIN-LEFT: 2px; TEXT-DECORATION: none
}
.topnav .login .top_img_txt {
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 30px;
    DISPLAY: inline-block;
    TEXT-DECORATION: none;
    font-size: 14px;
    float: left;
}
.topnav .login .top_qq {
    BACKGROUND: url("ico_qq2.png")/*tpa=http://www.bangcle.com/static/images/ico_qq2.png*/ no-repeat 7px 1px;
}
.topnav .login .top_tel {
    BACKGROUND: url("ico_Tel.png")/*tpa=http://www.bangcle.com/static/images/ico_Tel.png*/ no-repeat 7px 1px;
}